
#container {
	width: 100%;
	height: 1000px;
	margin: 0 auto;
	padding: 0;
}

#header {
	height: 100px;
}

#header #title {
	transform: rotate(-30deg) translate(0, 50px);
	width: 400px;
	font-size: 40px;
	font-weight: bold;
	color: blue;
}

#header #button {
	position: absolute;
	right: 11%;
}

#header #button input {
	width: 220px;
	height: 40px;
	font-size: 15px;
	color: white;
	background-color: #6fcfec;
}

#column {
	width: 100%;
	margin-top: 5%;
}

#column #section {
	margin-left: 15%;
	width: 100%;
	position: relative;
}

#column  #section #s_head {
	margin-top: 5%;
	margin-bottom: 5%;
	color: white;
	background-color: #164721;
	width: 350px;
	height: 100px;
	text-align: center;
	font-weight: bold;
	line-height: 90px;
}

#column #section #s_body {
	border: 1px solid #cccccc;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #494949;
	color: white;
	text-align: center;
	width: 350px;
	height: 100px;
}

#column  #section #todo_s {
	display: inline-block;
	width: 350px;
	height: 80px;
	position: absolute;
}

#column  #section #doing_s {
	display: inline-block;
	width: 350px;
	height: 100px;
	position: absolute;
	left: 385px;
}

#column  #section #done_s {
	display: inline-block;
	width: 350px;
	height: 100px;
	position: absolute;
	left: 770px;
}